<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
   <p class="chat"></p>
   <ion-input placeholder="Enter Input"></ion-input>

  
    <ion-button (click)="sendMessage()">Send Message</ion-button>
    <ion-button (click)="initializeWebSocketConnection()">Test SOCKET</ion-button> 
    <ion-button  (click)="goToTest()">navigate</ion-button>
    <ion-button  (click)="displayNotification()">Test Notifcation</ion-button>
  </div>
</ion-content> -->
<ion-content padding>
  <!--<ion-button href="/test">Test Page</ion-button>-->
  <div  id="login" class="centered">
    <ion-item>
      <ion-input  [(ngModel)]="username" type="text" placeholder="Username"></ion-input>
    </ion-item><br/>
    <ion-item>
        <ion-input  [(ngModel)]="password"  type="text" placeholder="Password"></ion-input>
      </ion-item><br/>
      <div>
         <ion-button  (click)="login()" style="display: block; margin: 0 auto;">Login</ion-button>
      </div>
  </div>
</ion-content>
